<li>
	{{burger_name}}

	<button class="change-state" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}YUMMY{{else}}TIME TO EAT!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>